<!DOCTYPE html>
<html>

<head>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="stylesheets/materialize.min.css" media="screen,projection" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<div>

  <body class="Site">
    <div class="wrapper">
      <div class="header">
        <div class="navbar-fixed">
          <nav class="orange">
            <div class="nav-wrapper">
              <form>
                <div class="input-field">
                  <input id="search" type="search" required onkeyup="myFunction()" placeholder="Cherchez une réplique..." >
                  <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                  <i class="material-icons">close</i>
                </div>
              </form>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="row" class="inlineBlock">
        <ul class="collection" id="myUL" id="tabs-swipe-demo">
          <%
          for(var i=0; i<punchlinesFav.length; i++) {
          %>
            <li class="collection-item avatar grey lighten-5 player" class="collection-item">
              <img src="<%=punchlinesFav[i].photo %>" alt=" " class="circle large">
              <a href="/delete-fav?id=<%=punchlinesFav[i].id%>" class="waves-light btn right orange">Supprimer de mes préférées</a>
              <span class="title"><%=punchlinesFav[i].name %></span>
              <p><%=punchlinesFav[i].punchline %></p>
              <audio type="audio" name="sound" src="<%=punchlinesFav[i].sound %>"></audio>
            </li>

            <%
 }
 %>
        </ul>
      </div>
      <div class="navbar-fixed-bottom">
        <nav class="nav orange">
          <div class="nav-content">
            <ul class="tabs tabs-transparent">
              <li class="tab col s6"><a href="/index">Les répliques</a></li>
              <li class="tab col s6"><a class="active" href="/fav">Mes préférées</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <script type="text/javascript" src="javascripts/script.js"></script>
    <script type="text/javascript " src="javascripts/materialize.min.js "></script>
  </body>

</html>
